.cursor {
    cursor: pointer;
}

.view-history-container {
    margin: 6px;
}

.valid-false {
    background-color: #d9edf7;
}

.valid-true {
    background-color: #afedaf;
}

.expired-true {
    background-color:#dc3545;
}