<div class="container">
  点击排行
  <div *ngFor="let rank of viewRank;let index = index" class="rank-container">
    <nz-badge [nzCount]="index + 1"
      [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"></nz-badge>
    <a (click)="bookDetail(rank.book_id)" class="white-{{index >= 3}}">{{rank.key}}</a>
    <span class="number">{{rank.value}}次</span>
  </div>
</div>

<div class="container">
  收藏排行
  <div *ngFor="let rank of likeRank;let index = index" class="rank-container">
    <nz-badge [nzCount]="index + 1"
      [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"></nz-badge>
    <a (click)="bookDetail(rank.book_id)" class="white-{{index >= 3}}">{{rank.key}}</a>
    <span class="number">{{rank.value}}次</span>
  </div>
</div>

<div class="container">
  租赁排行
  <div *ngFor="let rank of leaseRank;let index = index" class="rank-container">
    <nz-badge [nzCount]="index + 1"
      [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"></nz-badge>
    <a (click)="bookDetail(rank.book_id)" class="white-{{index >= 3}}">{{rank.key}}</a>
    <span class="number">{{rank.value}}次</span>
  </div>
</div>