.container {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-right: 18px;
}

.white-true {
    color: #17a2b8;
}

.white-false {
    color: #dc3545;
}

.number {
    float: right;
}

.rank-container {
    margin: 6px 0;
}