.mt-12 {
    margin-top: 12px;
}

.book-card-container {
    display: inline-block;
    margin: 0 110px 16px 0;
}

.book-img {
    height: 298px;
}

.like-book {
    color: red;
}

.search-bar-container {
    margin: 4px 0 8px 0;
}

.float-right {
    float: right;
}

.line-container {
    margin: 12px;
}