.title {
  text-align: center;
}

.content {
  text-align: center;
  background: #364d79;
  color: #fff;
  overflow: hidden;
  width: 300px;
}

h3 {
  color: #fff;
}

.steps-container {
  margin: 16px 0 0 0;
}

.selecet-container {
  margin: 16px 0;
}

.card-container {
  display: inline-block;
  margin: 12px 6px;
  vertical-align: top;
}

.book-img {
  width: 230px;
  height: 250px;
}

.start-container {
  text-align: center;
}

.img-container {
  display: inline-block;
}