<!-- <nz-layout class="layout">
  <nz-header style="background-color: #373d41; height: 50px; padding-left: 0px;padding-right: 16px;">
    <div nz-row style="height: 50px;">
      <div nz-col nzSpan="12" style="height: 50px;">
        <button nz-button (click)="toggleCollapsed()" style="margin-left: 16px;  line-height: 20px; border: none;
                           top: 17px; position: absolute; width: 20px;height: 20px;
                           padding: 0!important; overflow: hidden;">
          <i class="iconfont" [class.icon-menu_open]="isCollapsed" [class.icon-menu_close]="!isCollapsed" style="font-size: 21px; transform: translate(-1px, 1px)">
          </i>
        </button>
        <img src="./logo.png" style="height: 19px; margin-bottom: 15.5px; padding-left: 60px">
      </div>
      <div nz-col nzSpan="12" style="height: 50px;position: relative;text-align: right">
        <i class="anticon anticon-logout" style="font-size:28px;color:#fff;cursor: pointer;" (click)="logout()"></i>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider style="background:#fff" [nzCollapsed]="isCollapsed">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu>
          <span title><i nz-icon type="user"></i>subnav 1</span>
          <ul>
            <li nz-menu-item>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="laptop"></i>subnav 2</span>
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="notification"></i>subnav 3</span>
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px; ">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>1</nz-breadcrumb-item>
        <nz-breadcrumb-item>2</nz-breadcrumb-item>
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout> -->
<router-outlet></router-outlet>
