.page-container {
  padding: 8px 16px;
  background-color: #fff;
}

.header-icon {
  height: 18px;
  margin: 16px 28px 16px 0;
  float: left;
}

.header-icon i {
  display: block;
  height: 18px;
  width: 18px;
  font-size: 18px;
  color: #fff;
}
